.intro {
    background-image: url("../waa.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 900;

}  
.services {
    background-image: url("../services.jpg");
    background-size: cover;
    text-align: center;
    color:white;
    font-style: normal;
    font-weight: 900;
}
.tables{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: x-large;
}